@import 'src/theme/theme-variables';

.search-results-container {
  width: 100%;
  height: 90%;

  .scroll-viewport {
    height: 100%;

    .book-cover {
      width: 6%;
      height: 80%;
      border-radius: 0;
      object-fit: contain;
    }

    .book {
      &-title {
        font-weight: bold;
      }

      &-link {
        color: mat-color($app-accent, 900);
        text-decoration: none;
        cursor: pointer;
      }

      &-subtitle {
        margin: 4px 0 !important;
        color: mat-color($app-primary, 600);
      }

      &-authors {
        margin: 2px 0;
        color: mat-color($app-primary, 400);
      }

      &-rating {
        margin: 2px 0;
        display: flex;
        color: mat-color($app-accent, 500);

        .star-icon {
          margin-top: 1px;
        }
      }
    }
  }
}

.spinner-item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.empty-screen-container {
  width: 100%;
  height: 100%;

  .empty-screen-text {
    color: mat-color($app-accent, 800);
  }
}

::ng-deep .actions-menu {
  background-color: mat-color($app-primary, 200);
}

.menu-item {
  color: mat-color($app-accent, 900);

  .book-link {
    color: mat-color($app-accent, 900);
    cursor: pointer;
    text-decoration: none;
  }
}
