@import 'src/theme/theme-variables';

.inline-loader {
  display: inline-block;
}

.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}
