$book-tracker-primary-color: (
  50: #e0eaed,
  100: #b3cad1,
  200: #80a6b3,
  300: #4d8294,
  400: #26687d,
  500: #004d66,
  600: #00465e,
  700: #003d53,
  800: #003449,
  900: #002538,
  A100: #004d66,
  A200: #004d66,
  A400: #004d66,
  A700: #004d66,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$book-tracker-accent-color: (
  50: #e9eded,
  100: #c8d3d3,
  200: #a3b5b5,
  300: #7e9797,
  400: #638181,
  500: #476b6b,
  600: #406363,
  700: #375858,
  800: #2f4e4e,
  900: #203c3c,
  A100: #476b6b,
  A200: #476b6b,
  A400: #476b6b,
  A700: #476b6b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$book-tracker-warn-color: (
  50: #f6e4e4,
  100: #e9bbbb,
  200: #db8e8e,
  300: #cd6060,
  400: #c23e3e,
  500: #b71c1c,
  600: #b01919,
  700: #a71414,
  800: #9f1111,
  900: #900909,
  A100: #ffbebe,
  A200: #ff8b8b,
  A400: #ff5858,
  A700: #ff3f3f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
