<div class="dashboard-container">
  <div class="grid-container">
    <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="fit" gutterSize="20px" class="grid-list">
      <mat-grid-tile
        *ngFor="let option of Status | enumToArray; let i = index; ngForTrackByProperty"
        [colspan]="(cardLayout | async)?.miniCard?.cols"
        [rowspan]="(cardLayout | async)?.miniCard?.rows"
      >
        <app-book-count-by-status></app-book-count-by-status>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="(cardLayout | async)?.table?.cols" [rowspan]="(cardLayout | async)?.table?.rows">
        <app-manage-books></app-manage-books>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
