@import 'src/theme/theme-variables';

.dashboard-container {
  padding: 20px;
  height: 90%;

  .grid-container {
    width: 100%;
    height: 100%;

    .grid-list {
      height: 100%;
    }
  }

  .manage-books-container {
    width: 100%;
    height: 100%;
    background: 1px solid mat-color($app-accent, 300) !important;
  }
}

.card {
  background: 1px solid mat-color($app-accent, 300) !important;
}
