.search-results-container {
  width: 100%;
  height: 100%;

  .scroll-viewport {
    height: calc(100vh - 64px);

    .book-cover {
      width: 6%;
      height: 80%;
      border-radius: 0;
      object-fit: contain;
    }
  }
}

.spinner-item {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.empty-screen-container {
  width: 100%;
  height: 100%;
}
