<div class="book-details-container" fxLayout="row" fxLayoutAlign="center flex-start" fxFill>
  <div class="left-section" fxFlex="35">
    <img class="book-cover" [src]="book?.volumeInfo?.imageLinks?.thumbnail" [alt]="book?.volumeInfo?.title" />
    <p matLine *ngIf="book.volumeInfo.pageCount">{{ book.volumeInfo.pageCount }} pages</p>
    <p matLine *ngIf="book.volumeInfo.averageRating">{{ book.volumeInfo.averageRating }} stars</p>
    <p matLine *ngIf="book.volumeInfo.categories">
      {{ book.volumeInfo.categories }}
    </p>
    <p matLine *ngIf="book.volumeInfo?.infoLink">
      {{ book.volumeInfo?.infoLink }}
    </p>
  </div>
  <div class="right-section" fxFlex="65">
    <h1 matLine>{{ book?.volumeInfo?.title }}</h1>
    <h3 matLine *ngIf="book?.volumeInfo?.subtitle">
      {{ book?.volumeInfo?.subtitle }}
    </h3>
    <p matLine *ngIf="book.volumeInfo.authors">
      {{ book.volumeInfo.authors }}
    </p>
    <p matLine *ngIf="book.volumeInfo.publisher">
      {{ book.volumeInfo.publisher }}
    </p>
    <p matLine *ngIf="book.volumeInfo.publishedDate">
      {{ book.volumeInfo.publishedDate }}
    </p>

    <ng-container *ngIf="book.volumeInfo.description"
      ><p matLine [innerHTML]="book.volumeInfo.description | safeHtml"></p
    ></ng-container>
  </div>
</div>
