.book-details-container {
  padding: 1rem;

  .left-section {
    display: flex;
    flex-direction: column;

    .book-cover {
      width: 220px;
      height: 350px;
      margin: 0 auto;
      border-radius: 12px;
      object-fit: contain;
    }
  }
}
