@import 'src/theme/theme-variables';

:host {
  display: flex;
  flex: 1;
  height: 100%;
  color: mat-color($app-accent, 200);
}

.shell-container {
  .mat-sidenav {
    min-width: 270px;
    max-width: 28%;
  }

  .toolbar {
    top: 0;
    position: sticky;
    z-index: 1000;
  }

  mat-sidenav {
    background-color: mat-color($app-primary);
    span {
      color: mat-color($app-primary, 50);
    }
  }

  mat-sidenav-content {
    background: linear-gradient(to left, mat-color($app-primary, 100), mat-color($app-accent, 100));
  }

  .has-border {
    border-right: 1px solid rgb(0 0 0 / 12%);
  }

  .mat-list {
    padding-top: 0;
  }

  .mat-list-item {
    text-decoration: none;

    &:hover {
      background: rgb(0 0 0 / 5%);
    }
  }

  .menu-button {
    margin-right: 1rem;
  }
}
